[Unit]
Description=Dice Game Server (Beta)
After=network.target

[Service]
WorkingDirectory=/home/dice/beta
ExecStart=/usr/bin/GameServer_beta 4001
Restart=no
RestartPreventExitStatus=255
Type=simple
User=dice
Group=dice
