[Unit]
Description=Dice Game Auth
After=network.target

[Service]
ExecStart=/home/shane/auth-server/start.sh
RestartPreventExitStatus=255
Type=simple
User=dice
Group=dice
