div.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm input {
    margin-bottom: 10px;
    height: 24px;
    font-size: 16pt;
}
.loginContainer button {
    width: 100%;
    margin: 0px;
    margin-bottom: 12px;
    padding: 6px;
}

